name: CI

on: [push, pull_request]

jobs:
  build:
    name: build
    runs-on: windows-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install pillow
        pip install fonttools

    - name: get tools
      shell: pwsh
      run: |
        Invoke-WebRequest -Uri https://github.com/maxim-zhao/sms-build-tools/releases/download/1.0.493/tools.7z -OutFile tools.7z
        7z x tools.7z -otools
        Add-Content $env:GITHUB_PATH "$((Get-Item .\tools).FullName)"

    - name: build
      shell: cmd
      working-directory: src
      run: make -j

    - uses: actions/upload-artifact@v4
      with:
        name: rom
        path: |
            src/*.stub
            *.py
