name: CI

on: [push, pull_request]

jobs:
  build:
    name: build
    runs-on: windows-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: get tools
      shell: pwsh
      run: |
        7z x tools.7z -otools
        Add-Content $env:GITHUB_PATH "$((Get-Item .\tools).FullName)"

    - name: build
      shell: cmd
      working-directory: src
      run: make -j

    - uses: actions/upload-artifact@v4
      with:
        name: rom
        path: src/smsvgmplayer.stub
